// You can override Bootstrap variable here.
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 1024px,
//   xl: 1500px
// );

$primary: #57B9C0;
$secondary: #54AF8D;
$dark: #7f8081;
$dark-2: #4a4a4a;
$light: #fff;
$light-2: #f2f2f2;
$yellow: #F6DF82;
